@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jomolhari&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #000;
    padding: 52px 36px;
    height: 100vh;
    font-family: 'Jomolhari', serif;
    display: flex;
    align-items: center;
    gap: 47px;
}

.dashboard {
    width: 270px;
    height: 100%;
    border-radius: 31px;
    background: #F5C147;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.dashboard h2 {
    padding-top: 21px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    margin-top: 37px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 21px;
}

.create-post,
.manage-post {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 91px 14px 32px;
    border: none;
    border-radius: 20px;
    background: #FFF;
    display: block;
}

.create-post {
    background: #000;
    color: #FFF;
}

.manage-post {
    padding-right: 69px;
}

.sign-out {
    margin-bottom: 36px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.create__new-post {
    max-width: 1012px;
    width: 100%;
    height: 100%;
}

.dashbord__title {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
}

hr {
    margin-top: 16px;
}

.row {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
}

label {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}

#title,
#img,
#massage,
select {
    height: 44px;
    border-radius: 15px;
    background: #FFF;
    text-indent: 20px;
    font-size: 20px;
}

.select {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#img {
    width: 668px;
}

select {
    text-indent: 0;
    padding: 7px 18px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#massage {
    height: 172px;
}

#create-form button {
    padding: 16px 72px;
    display: block;
    margin: 59px auto;
    border-radius: 10px;
    background: #F5C147;
    border: none;
    font-size: 20px;
}

.card__wrapper {
    width: 100%;
    max-height: 764px;
    height: 100%;
    background: red;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 281px 281px 281px;
    gap: 84px;
    overflow-x: hidden;
}

.card {
    max-width: 281px;
    border: 3px solid #F0DE36;
    background: #1E1E1E;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    flex-direction: column;
    height: 336px;
}

.card h2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__btn {
    display: flex;
    align-items: center;
    gap: 17px;
}

.edit {
    padding: 7px 49px;
    background: #F5C147;
    border: none;
    color: #000;
    font-size: 12px;
}

.delete {
    padding: 7px 38px 7px 42px;
    border: none;
    color: #000;
    font-size: 12px;
    background: #CA3838;
}

.about-me {
    max-width: 236px;
    padding: 17px 13px 13px 15px;
    border-radius: 54.342px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    gap: 14px;
}

.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.name {
    max-width: 143px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.level {
    color: #787878;
    font-family: Jomolhari;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}